
<footer class=" py-4 bg-secondary-subtle  ">
    <div class="container ">
            <div class="row">
                    <div class="col-md-12  text-center">
                            <h2>Connect With Us</h2>
                                   <div class="py-3 d-flex  justify-content-center align-items-center ">
                                   <div class="icon "> <i class="fa-brands fa-xl fa-facebook"></i></div>
                                   <div class="icon"><i class="fa-brands fa-xl fa-twitter" ></i></div> 
                                   <div class="icon"><i class="fa-brands fa-xl fa-linkedin"></i></div> 
                                    <div class="icon"><i class="fa-solid fa-xl fa-globe"></i></div>
                                   </div>
                          
                    </div>
            
                </div>
                </div>
                <div class="text-center">
                    <p >Copyright © Your Website 2024 </p>
                </div>  

  
</footer>


 