<section class="my-5 py-5 ">
    <div   class="container-fluid  d-flex justify-content-center align-content-center text-center "    >
        <div>
            
            <h1 class="display-4">404</h1>
            <strong>  File not found</strong>
            <p class="text-muted">The site configured at this address does not contain the requested file.</p>
            <p class="text-muted">If this is your site, make sure that the filename case matches 
              the URL as well as any file permissions.
            <br> For root URLs like <code class="disabled">(http://example.com/)</code> you must provide an <code>index.html</code> file.</p>
      <p class="text-muted">Read the full documentation for more information about using <strong>GitHub Pages.</strong></p>
        <p> <a class="text-main" href="https://www.githubstatus.com/">GitHub Status</a> _ githubstatus</p> 
         
        <a routerLink="/" >
          <i class="fa-brands fa-github fa-2xl text-muted cr"></i>
          </a>
               </div>
    </div>
</section>